@font-face {
    font-family: Caviar;
    src: url(../Static/Font/CaviarDreams.ttf);
}

body {
    font-family: Caviar;
}

/* ID */
#main {
    height: 400px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(5, 5, 5, 0.8) 100%), url(../Images/john_wick.jpg);
    background-size: cover;
    background-position: center;
}

/* Class */
.search {
    background: none;
    border: none;
}

.search:focus {
    background: none;
    border: none;
    color: white;
}

.film-search {
    border: 2px solid white;
    border-radius: 10px;
    align-content: center;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.custom-cards {
    background-color: rgb(170, 59, 59);
}

.zoom {
    transition: transform .15s;
    cursor: pointer;
}

.zoom:hover {
    transform: scale(1.05);
}